<div class="container">
  <footer id="footer" class="four columns">
    <img height=64 width=64 src="/images/watercolor.png" />
  </footer>

  <footer id="footer" class="eight columns">
    <pre>©HELLONICO 2022</pre>
  </footer>

</div>