    <div class="row">
      
      <div class="two-half column">

 <div class="table-block">
      <!-- Page Footer Layout
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="container">
        <footer id="footer" class="two columns">
        <img height=64 width=64 src="/images/watercolor.png"/>
        </footer>

        <footer id="footer" class="ten columns">
          <pre>
            ©HELLONICO 2022
          </pre>
        </footer>
        
      </div> <!-- end footer div.container -->
    </div>  <!-- end footer div.table-block --> 
    </div>
    </div>