<table style="width:95%" class="mytable u-full-width">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Dates</th>
        <th style="width: 25%">Reason</th>
        <th style="width: 5%">Action</th>
    </tr>
    </thead>
    <tbody>

    {{#fruits}}
        {{^late}}
            <tr title="sent: {{timesent}}" class="absence type{{telework}} {{times_icon}} {{reason_icon}}">
        {{/late}}
        {{#late}}
            <tr title="sent: {{timesent}}" class="absence {{times_icon}} {{reason_icon}}">
        {{/late}}
            <td>
                {{^late}}
                    {{#id}}
                    <img class="icon" src="/images/type{{telework}}.png"/>
                    {{/id}}
                {{/late}}
                {{#late}}
                    <img class="icon" src="/images/late.png"/>
                {{/late}}
            </td>
            <td>{{name}}</td>
            <td style="min-width: 100px;"><a href="/email/{{email}}">{{email}}</a></td>

            <td>{{holidaystart}} {{holidayend}} {{date}} </td>

            <td>{{times}} {{reason}}</td>
        <td>
        {{#id}}
                <a onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"
                   href="/delete/{{id}}/now"><img class="icon" src="/images/delete.png"/></a></td>
        {{/id}}
        </tr>
    {{/fruits}}

    </tbody>
</table>
