<div class="row ">
    <div class="twelve column" style="margin-top: 3%">

        <a href="/"><img src="/images/berry.png" class="mainicon"/></a>
        <a class="button" title="scheduled vacation" href="/holidays/now"><img class="icon" src="/images/beach.png"/></a>
        <a class="button" title="planned holidays this month" href="/month"><img class="icon"  src="/images/month.png"/></a>
        <a class="button" title="planned holidays this month (excel)" href="/excel/abs.xlsx"><img class="icon" src="/images/excel.png"/></a>
        <a class="button" title="last entries" href="/last/N"><img class="icon" src="/images/lastn.png"/></a>
        <a class="button" title="users" href="/users"><img class="icon" src="/images/users.png"/></a>
        <a class="button" title="quick" href="/abs"><img class="icon" src="/images/menulate.png"/></a>
        <div style="float:right;padding-top: 30px"><input style="padding-top: px" id="myID" type="text" placeholder="Pick a date..." >&nbsp;</input></div>

    </div>
</div>
<link rel="stylesheet" href="/css/flatpickr.min.css">
<script src="/js/flatpickr.js"></script>
<script type="application/javascript">
    // https://flatpickr.js.org/events/
    window.onload = (_) => {
        flatpickr("#myID", {
            onChange: function (selectedDates, dateStr, instance) {
                // console.log('selected date' + dateStr);
                window.location = '/abs/' + dateStr;
            }
        });
    };
</script>