<div class="row ">
    <div class="twelve column" style="margin-top: 3%">

        <a href="/"><img src="/images/berry.png" width="64" height="64"/></a>
        <a title="scheduled vacation" href="/holidays/now"><img height="64" width="64" src="/images/beach.png"/></a>
        <a title="planned holidays this month" href="/month"><img height="64" width="64" src="/images/month.png"/></a>
        <a title="planned holidays this month (excel)" href="/excel/abs.xlsx"><img height="64" width="64"
                                                                                   src="/images/excel.png"/></a>
        <a title="last entries" href="/last/N"><img height="64" width="64" src="/images/lastn.png"/></a>
        <a title="users" href="/users"><img height="64" width="64" src="/images/users.png"/></a>

    </div>
</div>