<!DOCTYPE html>
<html lang="ja">
<head>
    <meta content="width=device-width" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style>
        /* This needs to be embedded for emails */
        .datagrid table {
            border-collapse: collapse;
            text-align: left;
            width: 100%;
        }

        .datagrid table caption {
            color: white;
        }

        .datagrid {
            font: normal 10px;
            background: lightcoral;
            overflow: hidden;
            border: 1px solid #652299;
        }

        .datagrid table td, .datagrid table th {
            padding: 0px 20px;
        }

        .datagrid table tbody td {
            color: white;
            border-left: 1px solid #E7BDFF;
            font-size: 10px;
            font-weight: normal;
        }

        .datagrid table tbody td a {
            color: white;
            border-left: 1px solid #E7BDFF;
            font-size: 10px;
            font-weight: normal;
        }

        .datagrid table tbody .alt td {
            background: #F4E3FF;
            color: #4D1A75;
        }

        .datagrid table tbody td:first-child {
            border-left: none;
        }

        .datagrid table tbody tr:last-child td {
            border-bottom: none;
        }
    </style>
</head>
<body>
<div class="datagrid">
    <table>
        <caption>Schedule Summary</caption>
        <tbody>
        <tr>
            <td>Name:</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Reason:</td>
            <td>{{reason}}</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>Start/End:</td>
            <td>{{holidaystart}}~{{holidayend}}</td>
        </tr>
        <tr>
            <td>Times:</td>
            <td>{{times}}</td>
        </tr>
        <tr>
            <td>Sent:</td>
            <td>{{timesent}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
