<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row u-full-width">
      <div class="twelve column" style="margin-top: 3%">
      
        <a href="/"><img src="/images/berry.png" width="64" height="64"/></a>
        <a title="scheduled vacation" href="/holidays/now"><img height="64" width="64" src="/images/beach.png"/></a>    
        <a title="planned holidays this month" href="/month"><img height="64" width="64" src="/images/month.png"/></a>
        <a title="planned holidays this month (excel)" href="/excel/abs.xlsx"><img height="64" width="64" src="/images/excel.png"/></a>
        <h2>Holidays for {{email}}</h2>
        {{#month}}
          <p style="font-style: italic;">Reminder: Showing all holidays (even past ones)</p>
        {{/month}}
        {{^month}}
          <p style="font-style: italic;">Reminder: Not showing past holidays for single user</p>
        {{/month}}
        
        <table class="mytable u-full-width">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Dates</th>
            <th>Reason</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        

          {{#holiday}}
          <tr title="sent: {{timesent}}" class="holiday">
        <td><img src="/images/beach.svg"/></td>
          <td>{{name}}</td>
          <td><a href="/email/{{email}}">{{email}}</a></td>
          <td>{{holidaystart}}~{{holidayend}}</td>
          <td>{{reason}}</td>
          </tr>
          {{/holiday}}

          {{#fruits}}
          <tr title="sent: {{timesent}}" class="absence {{times_icon}} {{reason_icon}}">
            <td><img src="/images/beach.svg"/></td>
          <td>{{name}}</td>
          <td><a href="/email/{{email}}">{{email}}</a></td>
          <td>{{holidaystart}}~{{holidayend}}</td>
          <td>{{reason}}</td>
          <td><a onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"  href="/delete/{{id}}"><img width="32" height="32" src="/images/delete.jpg"/></a></td>
          </tr>
          {{/fruits}}

        
        </tbody>
        </table>
      </div>
    </div>
  </div>


  <script type="application/javascript">
  document.onkeyup = function(e) {
    switch(e.which) {
        case 27: // esc
        window.location.href = document.referrer;
        break;

        case 37: // left
        // window.location.href =  window.location.origin + "/abs/{{today}}";
        break;

        case 38: // up
        window.location.href =  window.location.origin;
        break;

        case 39: // right
        // window.location.href =  window.location.origin + "/abs/{{dayafter}}";
        break;

        case 40: // down
        window.location.href =  window.location.origin + "/abs/{{today}}";
        break;

        default: return; // exit this handler for other keys
    }
    //e.preventDefault(); 

  }
  </script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
