<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>

<div class="container">
    {{> submenu }}
    <div class="row u-full-width">
            <h2>
                <img class="dayoftheweek" src="/images/week/icons8-{{today-str}}-50.png"/> {{today}}
                <a href="/abs/{{daybefore}}"><img class="icon" src="/images/leftbutton.png"/></a>&nbsp;
                <a href="/abs"><img class="icon" src="/images/current.png"/></a>&nbsp;
                <a href="/abs/{{dayafter}}"><img class="icon" src="/images/rightbutton.png"/></a>&nbsp;
            </h2>
           <p style="font-style: italic;">Not Showing telework on this page</p>
    </div>

    <div class="row u-full-width">
        <div class="twelve column tableFixHead" style="margin-top: 3%">
            {{> smallfruits}}
        </div>
    </div>
</div>

<script type="application/javascript">
    document.onkeyup = function (e) {
        switch (e.which) {
            case 27: // esc
                window.location.href = document.referrer;
                break;

            case 37: // left
                window.location.href = window.location.origin + "/abs/{{daybefore}}";
                break;

            case 38: // up
                window.location.href = window.location.origin;
                break;

            case 39: // right
                window.location.href = window.location.origin + "/abs/{{dayafter}}";
                break;

            case 40: // down
                break;

            default:
                return; // exit this handler for other keys
        }
        //e.preventDefault();

    }
</script>

</body>
</html>
