<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>

  <div class="container">
    <div class="row u-full-width">
      <div class="twelve column" style="margin-top: 3%">
        <a href="/"><img style="float:right" src="/images/berry.png" width="64" height="64"/></a>
        <h2><img class="dayoftheweek" src="/images/week/icons8-{{today-str}}-50.png"/> {{today}} </h2>
        <table class="mytable u-full-width">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Times</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
        {{#fruits}}

          {{#holiday}}
          <tr title="sent: {{timesent}}" class="type{{telework}}}  holiday">
            <td><img src="/images/beach.svg"/></td>
          <td>{{name}}</td>
          <td><a href="/email/{{email}}">{{email}}</a></td>
          <td>{{holidaystart}}~{{holidayend}}</td>
          <td>{{reason}}</td>
          </tr>
          {{/holiday}}

          {{#fruits}}
          <tr title="sent: {{timesent}}" class="absence {{times_icon}} {{reason_icon}}">
            <td><img src="/images/{{times_icon}}.png"/><img src="/images/{{reason_icon}}.png"/></td>
          <td>{{name}}</td>
          <td><a href="/email/{{email}}">{{email}}</a></td>
          <td>{{times}}</td>
          <td>{{reason}}</td>
          </tr>
          {{/fruits}}

        {{/fruits}}
        </tbody>
        </table>
      </div>
    </div>
  </div>


  <script type="application/javascript">
  document.onkeyup = function(e) {
    switch(e.which) {
        case 27: // esc
        window.location.href = document.referrer;
        break;

        case 37: // left
        window.location.href =  window.location.origin + "/abs/{{daybefore}}";
        break;

        case 38: // up
        window.location.href =  window.location.origin;
        break;

        case 39: // right
        window.location.href =  window.location.origin + "/abs/{{dayafter}}";
        break;

        case 40: // down
        break;

        default: return; // exit this handler for other keys
    }
    //e.preventDefault(); 

  }
  </script>
</body>
</html>
