<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Absence Berry System</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row u-full-width">
      <div class="twelve column" style="margin-top: 3%">
        <a href="/"><img src="/images/berry.jpg" width="64" height="64"/></a>
        <h4>Absence {{today}}</h4>
        <table class="mytable u-full-width">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Sent</th>
            <th>Times</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
        {{#fruits}}

          {{#holiday}}
          <tr class="holiday">
            <td><img src="images/beach.svg" width="14" height="14"/></td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{timesent}}</td>
          <td>{{holidaystart}}~{{holidayend}}</td>
          <td>{{reason}}</td>
          </tr>

            {{/holiday}}

          {{#fruits}}
          <tr>
            <td></td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{timesent}}</td>
          <td>{{times}}</td>
          <td>{{reason}}</td>
          </tr>
          {{/fruits}}

        {{/fruits}}

        </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
