<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>

  <div class="container">
      {{> submenu }}
      <div class="row u-full-width">
          <div class="ten columns">
          <h2>Schedule for {{email}}</h2>
          </div>
          <div class="two columns">
              <object width=300 height=200  data="/picture/{{email}}" type="image/jpg">
                  <img width=150 height=150 src="/images/default_pic.jpg" />
              </object>

<!--              <img alt="{{email}}" width=300 height=200 src="/picture/{{email}}" onerror="this.src=`data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'></svg>`;"/>-->
          </div>
      </div>
      <div class="row u-full-width">

        {{#month}}
            <p style="font-style: italic;">Reminder: Showing all full day items (even past ones)</p>
        {{/month}}
        {{^month}}
            <p style="font-style: italic;">Reminder: Not showing past items for single user</p>
        {{/month}}
        </div>

      <div class="row u-full-width">
          <div class="twelve column tableFixHead" style="margin-top: 3%">
              {{> smallfruits}}
          </div>
      </div>

  </div>

  <script type="application/javascript">
  document.onkeyup = function(e) {
    switch(e.which) {
        case 27: // esc
        window.location.href = document.referrer;
        break;

        case 37: // left
        // window.location.href =  window.location.origin + "/abs/{{today}}";
        break;

        case 38: // up
        window.location.href =  window.location.origin;
        break;

        case 39: // right
        // window.location.href =  window.location.origin + "/abs/{{dayafter}}";
        break;

        case 40: // down
        window.location.href =  window.location.origin + "/abs/{{today}}";
        break;

        default: return; // exit this handler for other keys
    }

  }
  </script>
</body>
</html>
