<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Absence Berry System</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row u-full-width">
      <div class="twelve column" style="margin-top: 3%">
      <a href="/"><img style="float:right" src="/images/berry.png" width="64" height="64"/></a>
        <h2>New Holiday</h2>
      <table class="mytable u-full-width">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Dates</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr title="sent: {{timesent}}" class="holiday">
            <td><img src="/images/beach.svg"/></td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{holidaystart}}~{{holidayend}}</td>
          <td>{{reason}}</td>
          </tr>
          </tbody>
</table>
</div></div></div>
</body>

  <script type="application/javascript">
  document.onkeyup = function(e) {
    switch(e.which) {
        
        case 37: // left
        case 38: // up
        case 39: // right
        case 40: // down
        window.location.href =  window.location.origin + "/abs";
        break;

        default: return; // exit this handler for other keys
    }

  }
  </script>

</html>