<!DOCTYPE html>
<html lang="en">
{{>header}}
<link rel="stylesheet" href="/css/table.css">
<body>

<div style="margin-left:10%;" class="container u-full-width">
    <div class="row ">
      <div class="twelve columns" style="margin-top: 3%">
        <a href="/"><img src="/images/berry.png" width="64" height="64"/></a>
        <h4>Absence Berry System ABS 
          <br/>
          <a href="/holidays/{{prev}}"><</a>&nbsp; <a href="/holidays/{{next}}">></a>&nbsp;Holidays {{month}}  
        </h4>
      </div>
    </div>

    <div class="row u-full-width">
        <div class="twelve columns tableFixHead" style="margin-top: 3%">
          
        <table class="u-full-width">
          <thead>
            <tr>
              <th style="min-width: 170px; width:100px">Name</th>
              {{#days}}
              <th class="{{klass}}">{{l}}</th>
              {{/#days}}
            </tr>
          </thead>
          <tbody>
            {{#users}}
            <tr>
            <td style="width:100px">
              <a href="/email/{{email}}">{{name}}</a</td>
              {{#days}}
              {{#h}}
              <td style="padding: 2px; background-color: orange" class="holiday"></td>
              {{/h}}
              {{^h}}
              <td style="padding: 2px;" class="work"></td>
              {{/h}}
              {{/#days}}
            </tr>
            {{/#users}}
            </tbody>
        </table>
      
  </div></div>

{{>footer}}
</body>
</html>