<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Absence Berry System</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">


  <meta name="theme-color" content="#000000">
  <!-- <link rel="manifest" href="/static/manifest.json"> -->
  <link rel="shortcut icon" href="/static/favicon.ico">
  <!-- <link href="/static/css/main.3371da1c.css" rel="stylesheet"> -->
  <link href="/static/css/main.3371da1c.css" rel="stylesheet">


</head>
<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <div class="row">
      <div class="two-half column" style="margin-top: 3%">
        <a href="/"><img src="/images/berry.jpg" width="64" height="64"/></a>
        <h4>Absence Berry System ABS {{today}}</h4>
        <table>
        <tbody>
          <tr>
            <td>
        <a class="button" href="/abs">Today</a><br/>
            </td>
            <td>
        <a class="button" href="/abs/{{yesterday}}">Yesterday {{yesterday}}</a><br/>
      </td>
      <td>
        <a class="button" href="/abs/{{tomorrow}}">Tomorrow {{tomorrow}}</a>
      </td>
      <td>
        <div name="Pick a date" style="float:left;" id="root"/>
      </td>
    </tr>
  </tbody>
</table>
    </div>
    </div>

    <div class="row">
    <div class="column" style="margin-top: 3%; margin-bottom: 0%">
      <h4>Holiday Form</h4>
      <form enctype="application/x-www-form-urlencoded" action="/form/post" method="POST">
      <label for="name">Name</label>
      <input name="name" class="u-full-width" type="text"></input> 
      <label for="email">Email</label>
      <input name="email" class="u-full-width" type="email"></input> 
      <label for="dates">Dates</label>
      <input class="u-full-width" name="dates" type="text"></input>
      <label for="reason">Reason</label>
      <input class="u-full-width" name="reason" type="text"></input>
      <button class="button button-primary">Submit</button>
      </form>
      </div>

      </div>
      
    <div class="row">
      

      <div class="two-half column" style="margin-top: 3%; margin-bottom: -20%">


      <h4>Usage</h4>
      <p class="jp">
        時間指定する時に、会社いる時ではなく会社いない時間を入力してください。
        <br/>
        例えば、朝10時出社する時に、<del>10時~</del>はなく,<b>~10時</b>を入力してください.
        <br/>
      </p>
      <p class="help">
        To use the system, send an email to <a href="mailto:{{email}}?subject=0320,~10am,train delay">{{email}}</a>
        <br/>
        with the subject in one of the following form: <br/>

        - for an absence today:<b>TIMES, REASON</b><br/>
        - for an absence on a given day: <b>MMDD, TIMES, REASON</b><br/>
        - for a long holiday: <b>MMDD-MMDD, , REASON</b> <br/>

        where TIMES should be the time <u>not</u> attending during normal hours. 
        <br/>
        Examples:<br/>
  
        <ul class="help">
          <li><a href="mailto:{{email}}?subject=~10am, train delay">~10am, train delay</a></li>
          <li><a href="mailto:{{email}}?subject=10am~11am,meeting">~10am~11am,meeting</a></li>
          <li><a href="mailto:{{email}}?subject=0320,5pm~,帰社">0320,5pm~,帰社</a></li>
          <li><a href="mailto:{{email}}?subject=0320-0330,,ホリデー">0320-0330,,ホリデー</a></li>
        </ul>
        <br/>

      </p>

      <h4>Old Excel Form</h4>
        <div class="links">
        {{#links}}
          <a class="button button-primary" href="{{href}}">{{a}}</a>
        {{/links}}
        </div>
    </div>
    
    </div>

    
  </div>
  <script type="text/javascript" src="/static/js/main.0a65fc9e.js"></script>

  <script type="application/javascript">
  document.onkeyup = function(e) {
    switch(e.which) {
        
        case 37: // left
        case 38: // up
        case 39: // right
        case 40: // down
        window.location.href =  window.location.origin + "/abs";
        break;

        default: return; // exit this handler for other keys
    }

  }
  </script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
