<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>

<div class="container">
    <div class="row u-full-width">
        <div class="twelve column" style="margin-top: 3%">

            {{> submenu }}
            <h2>New Schedule</h2>
            <table class="mytable u-full-width">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Dates</th>
                    <th>Reason</th>
                </tr>
                </thead>
                <tbody>
                <tr title="sent: {{timesent}}" class="holiday">
                    <td><img src="/images/beach.svg"/></td>
                    <td>{{name}}</td>
                    <td><a href="/email/{{email}}">{{email}}</a></td>
                    <td>{{holidaystart}}~{{holidayend}}</td>
                    <td>{{reason}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>