[Unit]
Description=Backup ABS database

[Timer]
# OnBootSec=1min
Persistent=true
#OnCalendar=*-*-* *:00:00
#Every two hours at 30 minutes
#OnCalendar=00/2:30
OnCalendar=*-*-* 10:00:00
Unit=abs-backup.service

[Install]
WantedBy=timers.target
