/**
CUSTOM RULES
 */
body {
  transform: scale(0.7);
  transform-origin: 0 0;
}

.type0 {
    background-color: beige;
}
.type1 {
    background-color: lightpink;
}
.holiday td {
  /*background-color: beige;*/
}

.holiday td img {
    border: 0 0 0 0;
    height: 32px;
    width: 32px;
    text-align: center;
    float: left;
    padding-left: 30%;
}

.type0 {

}
.absence.full td {
  background-color: beige;
}
.absence td img {
  display: block;
  float:left;
  height: 30px;
  width: 30px;
}

.mytable {
  width:120%;
}

.help {
  font-style: italic;
}
#root {
    width: 100px;
    margin:0 auto;
}
.mylink {
  display: block;
  margin: auto;
  padding-left: -100px;
  padding-top: -100px;
}

.dayoftheweek {
  padding-top: -100;
}

/**
SUB MENU
 */
img.mainicon {
    width:64px;
    height:64px;
}

img.icon {
    width: 32px;
    height: 32px;
}

/**
Fixed Header for table
*/

.tableFixHead {
    overflow: auto;
    height: 600px;
    width: 160% !important;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Just common table stuff. Really. */
.tableFixHead table {
    border-collapse: collapse;
}

.tableFixHead th,
td {
    max-width: 20px !important;
}

/**
TABLE
**/

/**
Select cells in table
*/

.tcs-select {
    background-color: lightsalmon;
}

.tcs-ignore {
    background-color: #BBB;
}

.tcs-select.tcs-ignore,
.tcs-ignore .tcs-select {
    background-color: #7AAAB9;
}


.day0 {
    /*background-color: white;*/
}

.day1 { /*telework*/
    background-color: lightgreen;
}
.day2 { /*holidays*/
    background-color: lightcoral;
}
.day3 { /* late */
    background-color: wheat;
}
.insertMode1 {
    background-color: beige;
}
.insertMode2 {
    background-color: lightpink;
}
.instruction {
    font-style: italic;
}
