/**
Fixed Header for table
*/

.tableFixHead {
    overflow: auto;
    height: 600px;
    width: 160% !important;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Just common table stuff. Really. */
.tableFixHead table {
    border-collapse: collapse;
}

.tableFixHead th,
td {
    max-width: 20px !important;
}

/**
Select cells in table
*/

.tcs-select {
    background-color: lightpink;
}

.tcs-ignore {
    background-color: #BBB;
}

.tcs-select.tcs-ignore,
.tcs-ignore .tcs-select {
    background-color: #7AAAB9;
}


.day0 {
    /*background-color: white;*/
}
.day1 {
    background-color: lightseagreen;
}
.day2 {
    background-color: lightpink;
}
.insertMode1 {
    background-color: lightseagreen;
}
.insertMode2 {
    background-color: lightpink;
}
.instruction {
    font-style: italic;
}
