<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>

<div class="container">
    <div class="row u-full-width">
        {{> submenu }}
        <div class="row u-full-width">
            <h2>Users &nbsp;
                <a href="/faces"><img class="icon" src="/images/board_view.png"/></a>
                <a href="/faces2"><img class="icon" src="/images/coverflow.png"/></a>
            </h2>
        </div>
    </div>


    <div class="row u-full-width">
        <div class="twelve columns tableFixHead" style="margin-top: 3%">

            <table style="width:95%" class="mytable u-full-width">
                <thead>
                <tr>
                    <th style="min-width: 30%">Name</th>
                    <th>Picture</th>
                    <th>Last Sent</th>
                    <th>Last Entry</th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                    {{^late}}
                        <tr title="sent: {{timesent}}" class="absence type{{telework}}">
                    {{/late}}
                    {{#late}}
                        <tr title="sent: {{timesent}}" class="absence">
                    {{/late}}
                        <th style="width:100px"><a data-id="{{email}}" href="/email/{{email}}">{{name}}</a></th>
                        <td><a data-id="{{email}}" href="/email/{{email}}"><img class="profilepic" src="/picture/{{email}}"/></a></td>
                        <td>{{timesent}}</td>
                        <td>{{reason}} {{holidaystart}} {{date}}</td>
                    </tr>
                {{/users}}
                </tbody>
            </table>

        </div>

</div>
</body>
</html>